.container {
    padding: 12px;
    text-align: center;
}

.input {
    padding: 4px;
    width: 275px;
    border-radius: 8px;
    outline: transparent;
    border: 1px solid #000000;
    background-color: #d3d3d3;
    transition: border-color 0.25s ease-in;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
}

.text {
    font-size: 22px;
    margin: 0 auto;
    text-align: center;
    width: 275px;
    line-height: 1.5;
    letter-spacing: 0.04;
}