.container {
    width: 320px;
    margin: 0 auto;
    padding: 16px 32px;
  }
  
  @media (min-width: 375px) {
    .container {
      width: 375px;

    }
  }
  
  @media (min-width: 768px) {
    .container {
      width: 768px;
    }
  }
  
  @media (min-width: 1260px) {
    .container {
      width: 1260px;
      padding: 24px 12px;
    }
}

.title {
  font-weight: 600;
  font-size: 42px;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 24px;
}