.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 8px auto;
    color: #000;
    background-color: #d3d3d3;
    border: 1px solid #454545;
    width: 220px;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.15);
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.button {
    border-radius: 4px;
    margin: 0 auto;
    border: 2px solid #808080;
    transition: background-color 250ms ease-in;
    padding: 4px;
    background-color: #fff;
    color: #000;
}

.button:hover,
.button:focus {
    background-color: #808080;
    color: #000;
}

.name {
    font-weight: 600;
    font-size: 18px;
}

.info {
    text-align: center;
}

.icon {
    color: red;
}